body {
	background-color: #f5f5f5;
	font-size: 12px;
	font-family: Arial,Verdana,sans-serif;
	padding-top: 10px;
	padding-bottom: 5px;
}

ul>li.active {
	font-weight: bold;
}

.jumbotron {
	background-color: #ffe;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  border-top: 1px solid #ddd;
}

.map-toolbar {
	padding-left: 10px;
}

.map-panel {
	padding-left: 10px;
	padding-top: 5px;
}

.map {
	height: 640px;
	border: 1px solid #265A88;
}

.login {
	width: 520px;
	padding: 0px;
}

.login-errors {
	width: 520px;
}

.form-signin, .form-signup {
  max-width: 520px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-control,
.form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}


