{% extends "base.html" %}

{% block title %}Track{% endblock %}
{% load staticfiles %}
{% block addtional_static %}
<link rel="stylesheet" href="{% static 'openlayers/ol.css' %}" type="text/css">
{% endblock %}

{% block head_script_block %}
{% endblock %}

{% block content %}
<div style="padding-top: 5px;">
	<form>
		<div class="form-group input-group">
			<input type="text" name="key_words" class="form-control" placeholder="Search tracks here..." aria-describedby="basic-addon2">
			<span class="input-group-addon" id="basic-addon2"><a href="#"><span class="glyphicon glyphicon-search"></span></a></span>
		</div>
	</form>
</div>
<div class="container-fluid row">
	<div class="col-md-3">
        <div class="row">
			<div class="list-group">
				<div class="list-group-item" align="center">
					<div class="row">
						<nav>
							<ul class="pagination" style="margin: 0px 0px;">
								<li><a href="#">Latest <span class="glyphicon glyphicon-sort"></span></a></li>
								<li><a href="#">Rating <span class="glyphicon glyphicon-sort"></span></a></li>
								<li><a href="#">Creator <span class="glyphicon glyphicon-sort"></span></a></li>
							</ul>
						</nav>
					</div>
				</div>
				{% for i in '1234567'|make_list %}
				<div class="list-group-item">
					<div class="row">
						<div class="col-md-2">
							<img src="{% static 'site/images/logo-tiny.png' %}">
						</div>
						<div class="col-md-10">
							<p>
								<a class="list-group-item-heading btn-sm btn-Link">Haituo - Yanjiaping - Pijiuxi {{ i }}</a>
							</p>
							<p class="list-group-item-text">{{ track.description|default:'No Description!' }}</p>
							<p class="list-group-item-text">{{ track.creator }}@{{ track.create_date|date:'Y-m-d H:i' }}</p>
						</div>
					</div>
				</div>
				{% endfor %}
				<div class="list-group-item" align="center">
					<div class="row">
						<nav>
							<ul class="pagination" style="margin: 0px 0px;">
								<li><a href="#" aria-label="Previous"> <span
										aria-hidden="true">&laquo;</span>
								</a></li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">6</a></li>
								<li><a href="#" aria-label="Next"> <span aria-hidden="true">&raquo;</span></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-9">
		<div class="row container-fluid map-toolbar">
            <div class="btn-toolbar-right">
    			<div class="btn-group btn-group-sm" role="group">
    				<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-zoom-in"></span>+</button>
    				<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-zoom-out"></span>-</button>
    				<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        Switch
                        <span class="caret"></span>
                    </button>
    				<ul id="map-toolbar-dropdown" class="dropdown-menu">
                        <li><a href="javascript:mapUtil.setMapType('OSM')">OSM Map</a></li>
    			        <li><a href="javascript:mapUtil.setMapType('GG_SAT')">Google Satellite</a></li>
    			        <li><a href="javascript:mapUtil.setMapType('GG_PHY')">Google Physical</a></li>
    			        <li><a href="javascript:mapUtil.setMapType('GG_STR')">Google Streets</a></li>
    			        <li><a href="javascript:mapUtil.setMapType('GG_HYB')">Google Hybrid</a></li>
    				</ul>
				</div>
				<div class="btn-group btn-group-sm" role="group">
    				<button class="btn btn-primary" type="button">Waypoints</button>
    				<button class="btn btn-primary" type="button">Tracks</button>
    				<button class="btn btn-primary" type="button">Photos</button>
    			</div>
            </div>
		</div>
		<div class="row map-panel">
			<div id="map" class="map"> </div>
		</div>
	</div>
</div>

{% endblock %}

{% block body_script_block %}
<script type="text/javascript" src="{% static 'openlayers/ol.js' %}"></script>
<script>

$(function() {
	$(".list-group .list-group-item a").click(function(){
    	$(".list-group").children().removeClass("active");
    	$(this).parent().parent().parent().parent().addClass("active");
    });
	
	var map = new ol.Map({
		layers : [new ol.layer.Tile({
			source : new ol.source.OSM()
		})],
		target : 'map',
		controls : ol.control.defaults({
			attributionOptions : /** @type {olx.control.AttributionOptions} */( {
				collapsible : false
			})
		}),
		view : new ol.View({
			center : [0, 0],
			zoom : 4
		})
	});
});
</script>
{% endblock %}