<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}{% endblock %} | Roxd</title>
		
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'site/css/default.css' %}" type="text/css">
		<script type="text/javascript" src="{% static 'jquery/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	</head>
	<body>
		{% block header %}
		<!-- Header Block-->
		<div class="header">
			<div class="banner">
				<img src="{% static 'site/images/logo.png' %}" style="float:left;"/>
				<span><h2>Roxd - Explore your road!</h2></span>
			</div>
			<div class="nav">
				<nav>
					<ul class="nav nav-justified">
						<li class="active"><a href="/">Hot Board</a></li>
						<li><a href="/track">Region Track</a></li>
						<li><a href="#">Join Activities</a></li>
						<li><a href="#">Search Waypoints</a></li>
						<li><a href="#">Pull Messages</a></li>
					</ul>
				</nav>
			</div>
		</div>

		{% endblock %}
		
		<div id="content" class="container-fluid">
		{% block content %}{% endblock %}
		</div>
		
		
		<!-- Footer Block-->
		<footer class="footer">
			{% block footer %}
			<div class="container">
				<p class="muted credit">
				Copyright @ 2016
				</p>
			</div>
			{% endblock %}
		</footer>
	</body>
</html>