{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block jumbotron %}
<div class="jumbotron">
	<div class="container">
		<h1>Start to explore your road!</h1>
		<p>
			Roxd is amazing website to allow you uploading gpx data.
		</p>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-4">
		<h2>Around Beijing</h2>
		<p>The places you want to go!</p>
		<p class="thumbnail"><img src="http://img1.qunarzz.com/p/p43/1509/93/629f7758c14bf6.jpg" class="img-rounded" /></p>
		<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-lg-4">
		<h2>Around Beijing</h2>
		<p>The places you want to go!</p>
		<p class="thumbnail"><img src="http://img1.qunarzz.com/p/p43/1509/93/629f7758c14bf6.jpg" class="img-rounded" /></p>
		<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-lg-4">
		<h2>Around Beijing</h2>
		<p>The places you want to go!</p>
		<p class="thumbnail"><img src="http://img1.qunarzz.com/p/p43/1509/93/629f7758c14bf6.jpg" class="img-rounded" /></p>
		<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-lg-4">
		<h2>Around Harbin</h2>
		<p>The places you want to go!</p>
		<p class="thumbnail"><img src="http://img1.qunarzz.com/p/p43/1509/93/629f7758c14bf6.jpg" class="img-rounded" /></p>
		<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
	</div>
	<div class="col-lg-4">
		<h2>Around Harbin</h2>
		<p>The places you want to go!</p>
		<p class="thumbnail"><img src="http://img1.qunarzz.com/p/p43/1509/93/629f7758c14bf6.jpg" class="img-rounded" /></p>
		<p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
	</div>
</div>
{% endblock %}