<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Signin | Roxd</title>

		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'site/css/default.css' %}" type="text/css">
		<script type="text/javascript" src="{% static 'jquery/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	</head>

	<body>

		<div class="container">
			<br></br>
			<p align="center"><a href="/"><img src="{% static 'site/images/logo-medium.png' %}" /></a></p>
			
			{% for error in form.non_field_errors %}
			<div class="container login-errors alert alert-danger" role="alert">
				<p>{{ error }}</p>
			</div>
			{% endfor %}
		</div>

		<div class="container login panel panel-success">
			<div class="panel-heading">
				<h2 class="form-signin-heading" align="center">Sign in to MendRoad</h2>
			</div>
			<div class="panel-body">
				<form class="form-signin" action="/signin/" method="post">
					{% csrf_token %}
					<label for="inputUsername" class="title">Username: {{ form.username.errors }}</label>
					<input type="text" name="username" class="form-control" placeholder="Username or email address" required autofocus value="{{ form.username.value|default:'' }}" />
					<p></p>
					<label for="inputPassword" class="title">Password: {{ form.password.errors }}</label>
					<input type="password" name="password" class="form-control" placeholder="Password" required value="{{ form.password.value|default:'' }}" />
					
					<div class="checkbox">
						<label><input name="remember" type="checkbox" {% if form.remember.value %}checked{% endif %}/>Remember me</label>
					</div>
					<button class="btn btn-lg btn-success btn-block" type="submit">
						Sign in
					</button>
				</form>
			</div>
		</div>
		
		<div class="container panel form-signin">
			<p><a href="#">Forgot password?</a></p>
			<p>New to MendRoad? <a href="/signup">Create an account. </a></p>
		</div>

		<div class="container">
			<footer class="footer">
				<p align="center">
					&copy; MendRoad 2016
				</p>
			</footer>
		</div>
	</body>
</html>